[submodule "bundle/vim-solarized"]
	path = bundle/vim-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-autoclose"]
	path = bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "bundle/vim-c"]
	path = bundle/vim-c
	url = https://github.com/vim-scripts/c.vim.git
[submodule "bundle/vim-closetag"]
	path = bundle/vim-closetag
	url = https://github.com/vim-scripts/closetag.vim.git
[submodule "bundle/vim-coffeescript"]
	path = bundle/vim-coffeescript
	url = https://github.com/vim-scripts/vim-coffee-script.git
[submodule "bundle/vim-commandt"]
	path = bundle/vim-commandt
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-conque"]
	path = bundle/vim-conque
	url = https://github.com/chrismetcalf/vim-conque.git
[submodule "bundle/vim-dbext"]
	path = bundle/vim-dbext
	url = https://github.com/vim-scripts/dbext.vim.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-genutils"]
	path = bundle/vim-genutils
	url = https://github.com/clones/vim-genutils.git
[submodule "bundle/vim-gist"]
	path = bundle/vim-gist
	url = https://github.com/mattn/gist-vim.git
[submodule "bundle/vim-greplace"]
	path = bundle/vim-greplace
	url = https://github.com/vim-scripts/greplace.vim.git
[submodule "bundle/vim-gundo"]
	path = bundle/vim-gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-haskell"]
	path = bundle/vim-haskell
	url = https://github.com/kevinstreit/VIM-Haskell.git
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
